RewriteEngine On
RewriteBase /

# Redirigir todas las solicitudes a index.html, excepto para archivos y directorios existentes
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule !^ruta-excluida($|/) /gallery/cinder [L]
