.modalPhoto{
    
    max-width: 80vw;
    max-height: 90vh;
    min-height: 30vh;
    
}

.modal-content {
    justify-content: center;
    align-items: center;
    background-color: #fff0;
    border: none;
}

@media (min-width: 500px){
    .modalPhoto{
        min-height: 40vh;
    }
}