h1 {
    margin-bottom: 100px;
}

.about {
    display: flex;
    flex-direction: row;
    padding: 10%;
}

.curriculum {
    margin-right: 7%;
    font-size: 10px;
    color: hsl(228, 12%, 48%);
}

.photoCv {
    display: none;
    max-height: 600px;
}

@media (min-width: 768px) {
    .photoCv {
        display: block;
    }
    .curriculum {
        margin-right: 7%;
        font-size: 14px;
    }
}


@media (min-width: 1024px) {
    .photoCv {
        display: block;
    }
    .curriculum {
        margin-right: 7%;
        font-size: 18px;
    }
}