.navbar {
    background-color: #4B4B4B;
    color: white;
    display: flex;
    position: sticky;
    top: 80px;
    z-index: 10;
    /* border-bottom: 1px solid lightgray; */
    height: 80px;
    
}

.rightNavbarContainer {
    justify-content: flex-end !important;
}

.navbarItems {
    padding: 10px;
    margin: auto;
    color: white;
    text-decoration: none;
}

h1 {
    color: white;
    text-decoration: none;
}