.carouselItem {
    height: 100vh;
}

.carouselMobile {
    display: block;
}

.carouselDesktop {
    display: none;
}

.carousel {
    margin-top: -80px;
}


@media (min-width: 576px) {
    .carouselDesktop {        
        display: block;
    }
    
    .carouselMobile {
        display: none;
    }
}