.footer {        
    display: flex;
    padding: 2%;
    justify-content: space-around;
    background-color: #4B4B4B;
    color: white;
    height: 30vh;
    font-weight: 100;
    font-size: small;
    align-items: flex-start;
    flex-direction: column;
}

@media (min-width: 992px) {
    .footer {    
        display: flex;
        justify-content: space-between;
        height: 22vh;
        font-size: larger;
        align-items: center;
        flex-direction: row;       
    }
}